.img {
    width: 30%;
    margin: 30px 35%;
}

.Current-Figure {
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.Figure-Block {
    margin: 30px 25%;
    
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 30px 0;
}