.img {
    width: 30%;
    margin: 30px 35%;
}

.Current-Figure {
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.Figure {
    width: 20%;
    min-width: 250px;
    margin:10px 20px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 20px ;
    text-align: center; 
    background-color: white;
    color: black;
    padding: 20px 0;
}

.Figure-Block {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.Header {
    margin: 0 auto;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 30px 0;
}