

.Garden {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,120px);
    grid-template-rows: 230px 120px 230px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: 
    "zone1 zone2"
    "zone3 zone3"
    "zone4 zone5"
    ;

}

.Block {
    background-color: rgb(0, 101, 238);
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 230px;
    cursor: pointer;
}

.Zone1 {
    text-transform: rotate(90deg);
    grid-area: zone1;
}

.Zone2 {
    grid-area: zone2;
}

.Zone3 {
    grid-area: zone3;
    vertical-align: middle;
    line-height: 120px;
}

.Zone4 {
    grid-area: zone4;
}

.Zone5 {
    grid-area: zone5;
}


.Rotate {
    transform: rotate(-90deg);
}